@model IEnumerable<Library.Models.Book>
@using System.IO
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@* NOT YET IMPLEMENTED*@

@{
    ViewData["Title"] = "Popular";
}

@{ int j = 0;}
@foreach (var book in Model)
{
    <div id="modal_@j" class="modal">
        <div class="modal-content">
            <h5>@book.Title</h5>
            <p>@book.Summary</p>
        </div>
    </div>
    j++;
}

<section class="py-5 text-center container">
    <h1 class="fw-light">POPULAR RIGHT NOW</h1>
</section>
<div class="album py-5 bg-light">
    <div class="container">
        @foreach (var book in Model) 
        { 
        <div class="col-md-4">
            <div class="card shadow-sm">
                </div>
            </div>

        }

    </div>
</div>
