@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    <h1 class="display-4">Welcome!</h1>
       @{var Id =HttpContextAccessor.HttpContext.Session.GetString("Id"); }
    <h2>
        @Id
    </h2>
    @if (TempData["Success"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["Success"]</p>
    }
    else if (TempData["Failure"] != null)
    {
        <p class="alert alert-danger" id="failureMessage">@TempData["Failure"]</p>
    }
    else
    {
        <p>You can freely browse the book listings by pressing <b>Bookshelves</b> or <b>Popular</b> in the navbar, or you can register/log in, by pressing <b>Sign Up/Sign In</b>.</p>
    }
</div>
