@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand"><b>Library</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between me-auto">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index">Administrators Corner</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark ">Counter</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark"  asp-area="" asp-controller="Book" asp-action="Transactions" >Transactions</a>
                        </li>
                        <li class="nav-item" style="position: absolute; right: 75px">
                            <p class="nav-link">@HttpContextAccessor.HttpContext.Session.GetString("userName")</p>
                        </li>
                        <li class="nav-item" style="cursor: pointer; position: absolute; right: 15px">
                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Sign_Out">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    @*  Error	CS1963	An expression tree may not contain a dynamic operation

            <div id="sign_up_modal" class="modal">
            <div class="modal-content">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PermissionLevel" class="control-label"></label>
                        <input asp-for="PermissionLevel" class="form-control" />
                        <span asp-validation-for="PermissionLevel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BooksHeld" class="control-label"></label>
                        <input asp-for="BooksHeld" class="form-control" />
                        <span asp-validation-for="BooksHeld" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>*@
    @*<div id="sign_in_modal" class="modal">
            <div class="modal-content">
                <h5>Sign In</h5>
                <p>Lmao</p>
            </div>
        </div>*@
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Library - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/notify/notify.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>